body {
  background-color: #eeeeee;
  margin-left: 20%; }

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 auto;
  gap: 1rem;
  margin-left: 20%;
  font-family: sans-serif; }
  .dashboard__box {
    font-size: 1rem;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    padding-left: 1rem;
    height: 5rem; }
    .dashboard__box__text-top {
      color: #bfbfbf;
      font-size: 0.7rem;
      transform: translateY(3px);
      padding-top: 1px;
      padding-bottom: 1px; }
    .dashboard__box__text-bottom {
      color: black;
      font-size: 1.2rem;
      padding-top: 0;
      font-weight: bold; }

.grid {
  display: grid;
  margin-top: 1rem;
  font-size: 2rem;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  border-radius: 10px; }
  .grid__grid__top {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(2, 20rem); }
  .grid__grid__mid {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(4, 20rem); }
  .grid__mid-box {
    background-color: white;
    color: orangered;
    padding: 10px 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  .grid__mid-box_3 {
    grid: span 2;
    color: aquamarine;
    background-color: brown;
    padding: 10px 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
  .grid__mid-box_4 {
    color: coral;
    background-color: chartreuse;
    padding: 10px 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1); }
