@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    // background-color: $color-light-grey;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 240px 5fr;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.column {
    height: 100%;
    border-right: 1px solid rgb(224, 224, 224);
}
