@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$color-teal: #4fd1c5;
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-light-grey: #f5f5f5;
$color-dark-grey: rgba(191, 191, 191, 1);

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body {
    background-color: $color-light-grey;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-columns: 240px 5fr;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.column {
    height: 100%;
}
