.dashboard {
    display: grid;
    padding: 1rem 1rem;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    &__box {
        font-size: 1rem;
        background-color: $color-white;
        // box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: 0.1);
        border-radius: $radius-border;
        // text-align: left;
        padding-left: 1rem;

        // zdefiniowana wysokosc dla top-boxów
        height: 100%;

        &__text-top {
            color: $color-dark-grey;
            font-size: 0.7rem;
            transform: translateY(+3px);
            padding-top: 8px;
            padding-bottom: 4px;
        }

        &__text-bottom {
            color: $color-gray-p;
            font-size: 1.2rem;
            font-weight: 900;

            &mid-box__1 {
                grid-template-columns: 20rem 20rem;
            }
        }

        &__icon {
            display: block;
            float: right;
            transform: scale(1.2) translate(-1.2rem, -1.6rem);
            background-color: $color-teal;
            color: #fff;
            box-shadow: rgba(212, 212, 212, 0.35) 0px 2px 5px;
        }
    }
}

.sidebar {
    position: fixed;
    width: 220px;

    &__logo-content {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        background-color: $color-light-grey;
        margin: 6px 12px;
    }

    &__logo {
        margin: 1rem 0 0 1rem;
        color: $color-black;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        font-size: 18px;
        margin-right: 5px;
    }

    &__logo-icon {
        background-color: $color-teal;
        color: #fff;
    }

    &__logo_text {
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
    }

    &__icon {
        position: absolute;
        color: #000;
        left: 90%;
        top: 30px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }

    &__nav {
        margin-top: 20px;
        margin-left: 1rem;
    }

    &__nav-item {
        position: relative;
        list-style: none;
        height: 50px;
        width: 100%;
        margin: 5px 5px;
        line-height: 50px;
    }

    &__nav-link {
        color: #a0aec0;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease;
        border-radius: 12px;
    }

    &__nav-search-icon {
        max-width: 15px;
        margin: 0 15px 0 15px;
        line-height: 50px;
        text-align: center;
    }

    &__nav-icon {
        min-width: 15px;
        margin: 0 15px 0 15px;
        line-height: 50px;
        text-align: center;
        color: $color-teal;
        transition: all 0.3s ease;
        box-shadow: rgba(212, 212, 212, 0.35) 0px 2px 5px;
        background-color: #fff;
    }

    &__search-bar {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        outline: none;
        border: none;
        background-color: #fff;
        font-size: 16px;
        color: #000;
        text-align: center;
    }

    &__appointment {
        margin-top: 20px;
        margin-left: 1rem;
    }

    &__appointment-box {
        position: relative;
        height: 150px;
        width: 100%;
        margin: 5px 5px;
        background-color: $color-teal;
        box-shadow: rgba(212, 212, 212, 0.35) 0px 2px 5px;
        border-radius: 12px;
    }

    &__talk-icon {
        margin: 1rem 0 0 1rem;
        font-size: 32px;
        color: #fff;
    }

    &__appointment-item {
        padding-top: 5px;
    }

    &__appointment-text {
        margin: 0 0 0 1rem;
        font-size: 14px;
        color: #fff;
        font-weight: bold;

        p {
            font-size: 10px;
            font-weight: 300;
            color: #fff;
        }
    }

    &__appointment-button {
        font-weight: bold;
        font-size: 12px;
        margin: 10px 0 0 1rem;
        border-radius: 12px;
        width: 83%;
        height: 35px;
        border: none;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    :hover.sidebar {
        &__nav-link {
            color: #11101a;
            background-color: #fff;
            box-shadow: rgba(212, 212, 212, 0.35) 0px 2px 5px;
            font-weight: bold;
        }
        &__appointment-button {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
        }
    }
    .sidebar__nav-link:hover {
        > .sidebar__nav-icon {
            background-color: $color-teal;
            color: #fff;
            border-color: $color-teal;
        }
    }

    .bx-border {
        border-radius: 8px;
        box-shadow: rgba(212, 212, 212, 0.35) 0px 2px 2px;
        border-color: #fff;
    }

    .bx-search-alt-2 {
        position: absolute;
        margin-top: 10px;
        z-index: 99;
        color: #000;
        font-size: 30px;
    }
}
