.grid {
    @include grid-base;

    &__profile {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 150px);
    }

    // Profile styles
    &__probox--1 {
        @include box-standard;
        background-color: $color-teal;
    }

    &__probox--2 {
        @include box-standard;
        background-color: $color-teal;
    }

    &__probox--3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 8;
        grid-row: span 3;
        grid-column: span 3;
        background-color: $color-white;
        padding: 0.8rem;
        border-radius: $radius-border;
    }
}

.general-box {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-column: span 3;
    background-color: $color-white;
    // padding: 0.8rem;
    margin: 0.5rem 10rem 0.5rem 0.5rem;
    border-radius: $radius-border;
    height: 90%;
    width: auto;
    // transform: translateY(-10rem);
}

.profile-icon {
    color: $color-teal;
}

.midbox {
    background-color: $color-white;
}

.newbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // background-color: $color-teal;
    // height: 90%;
}
