<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="sidebar">
        <div class="sidebar__logo_content">
            <div class="sidebar__logo_content__logo"></div>
            <box-icon name='plus-medical'></box-icon>
            <div class="sidebar__logo_content__logo__logo_name">MedCure</div>
        </div>
        <box-icon name='menu'></box-icon>
        <ul class="nav">
            <li><a href="">
                    <box-icon name='menu'></box-icon>
                    <span class="nav__link_name">Dashboard</span>
                </a>
            </li>
            <li><a href="">
                    <box-icon name='book-content'></box-icon>
                    <span class="nav__link_name">Invoices</span>
                </a>
            </li>
            <li><a href="">
                    <box-icon name='face' type='solid'></box-icon>
                    <span class="nav__link_name">Profile</span>
                </a>
            </li>
            <li><a href="">
                    <box-icon type='solid' name='brightness'></box-icon>
                    <span class="nav__link_name">Settings</span>
                </a>
            </li>
            <li><a href="">
                    <box-icon type='solid' name='brightness'></box-icon>
                    <span class="nav__link_name">Log out</span>
                </a>
            </li>
        </ul>
        <div class="appointment">
            <div class="appointment__box">
                <div class="appointment__box-button">
                    <button>Set Appointment</button>
                </div>
            </div>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>